{{ define "main" }}
    {{ .Content }}

    <div class="content-block">
        <h2>О проекте PetCareCam</h2>
        {{ with .Site.GetPage "/about" }}
            {{ .Content }}
        {{ end }}
    </div>

    <div class="content-block">
        <h2>Участники</h2>
         {{ with .Site.GetPage "/team" }}
            {{ .Content }}
        {{ end }}
    </div>

    <div class="content-block">
        <h2>Ресурсы</h2>
         {{ with .Site.GetPage "/resources" }}
            {{ .Content }}
        {{ end }}
    </div>

    <h2>Журнал</h2>
    {{ range where .Site.RegularPages "Section" "journal" }}
        <div class="content-block">
            <a href="{{ .Permalink }}">
                <h3>{{ .Title }}</h3>
            </a>
            <p>{{ .Summary | plainify | truncate 150 }}</p>
        </div>
    {{ end }}
{{ end }} 